In [1]:
#引入模块
import pandas as pd
import numpy as np

In [2]:
#创建数据
df1 = pd.DataFrame({
    '语文':pd.Series([90,89,98,80]),
    '数学':pd.Series([80,89,88,80]),
    '英语':pd.Series([90,89,80,80])
})
df1

   数学  英语  语文
0  80  90  90
1  89  89  89
2  88  80  98
3  80  80  80

In [6]:
#describe函数是用来计算有关DataFrame列的统计信息的摘要。
df1.describe()

              数学     英语        语文
count   4.000000   4.00   4.00000
mean   84.250000  84.75  89.25000
std     4.924429   5.50   7.36546
min    80.000000  80.00  80.00000
25%    80.000000  80.00  86.75000
50%    84.000000  84.50  89.50000
75%    88.250000  89.25  92.00000
max    89.000000  90.00  98.00000

In [11]:
#count
df1.count()
# df1.count(axis=1)

数学    4
英语    4
语文    4
dtype: int64

In [15]:
#最小值索引值
df1.idxmin ()

数学    0
英语    2
语文    3
dtype: int64

In [16]:
#最大值索引值
df1.idxmax()

数学    1
英语    0
语文    2
dtype: int64

In [33]:
#值的总和
df1.sum()

数学    337
英语    339
语文    357
dtype: int64

In [34]:
#值得平均数
df1.sum()

数学    337
英语    339
语文    357
dtype: int64

In [35]:
#值的中位数
df1.median()

数学    84.0
英语    84.5
语文    89.5
dtype: float64

In [36]:
#样本分位数
# 第1四分位数 (Q1)，又称“较小四分位数”，等于该样本中所有数值由小到大排列后第25%的数字。
# 第2四分位数 (Q2)，又称“中位数”，等于该样本中所有数值由小到大排列后第50%的数字。
# 第3四分位数 (Q3)，又称“较大四分位数”，等于该样本中所有数值由小到大排列后第75%的数字。
df1.quantile(0.25)

数学    80.00
英语    80.00
语文    86.75
Name: 0.25, dtype: float64

In [23]:
#根据平均值计算平均绝对距离差
df1.mad()

数学    4.25
英语    4.75
语文    4.75
dtype: float64

In [24]:
#样本数值的方差
df1.var()

数学    24.25
英语    30.25
语文    54.25
dtype: float64

In [26]:
#样本数值的标准差
df1.std()

数学    4.924429
英语    5.500000
语文    7.365460
dtype: float64

In [31]:
#样本值的累计和、样本的累计最小值、最大值
# df1.cumsum()
# df1.cummin()
df1.cummax()

   数学  英语  语文
0  80  90  90
1  80  89  89
2  80  80  89
3  80  80  80

In [32]:
#样本值的累积积
df1.cumprod()

         数学        英语        语文
0        80        90        90
1      7120      8010      8010
2    626560    640800    784980
3  50124800  51264000  62798400

# 相关系数与协方差

In [79]:
#协方差  
#如果有X,Y两个变量，每个时刻的“X值与其均值之差”乘以“Y值与其均值之差”得到一个乘积，再对这每时刻的乘积求和并求出均值
# 如果协方差为正，说明X，Y同向变化，协方差越大说明同向程度越高；如果协方差为负，说明X，Y反向运动，协方差越小说明反向程度越高。
df = pd.DataFrame({
    'GDP':[900,1000,1100,1200,1300],
    'foreign_Trade':[300,400,500,550,600],
#     'foreign_Trade':[300,350,280,250,380],
#     'foreign_Trade':[800,700,600,500,400],
    'year':['2012','2013','2014','2015','2016']
})
df

    GDP  foreign_Trade  year
0   900            300  2012
1  1000            400  2013
2  1100            500  2014
3  1200            550  2015
4  1300            600  2016

In [80]:
print('协方差：')
df.cov()
# frame['a'].cov(frame['b'])

协方差：

                   GDP  foreign_Trade
GDP            25000.0        18750.0
foreign_Trade  18750.0        14500.0

# 相关系数
就是用X、Y的协方差除以X的标准差和Y的标准差。所以，相关系数也可以看成协方差：一种剔除了两个变量量纲影响、标准化后的特殊协方差。

1.也可以反映两个变量变化时是同向还是反向，如果同向变化为正，反向变化为负

2.由于它是标准化后的协方差，因此更重的特性是，它消除了两个变量变化幅度的影响，而只是单纯反应两个变量单位变化的相似程度。

In [81]:
print('相关系数：')
df.corr()
#相关系数不像协方差一样可以在＋\infty 到－\infty 间变化，它只能在＋1到－1之间变化
#当相关系数为1的时候两者相识度最大，同向正相关
#当相关系数为0的时候两者没有任何相似度，两个变量无关
#当相关系数为-1的时候两者变化的反向相似度最大，完全反向负相关

相关系数：

                    GDP  foreign_Trade
GDP            1.000000       0.984798
foreign_Trade  0.984798       1.000000