In [1]:
#导入pandas numpy matplotlib
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

# pandas基础
（1）创造对象

In [4]:
#Series 是一个值的序列 ， 他只有一个列，以及索引。
s = pd.Series([1,3,5,np.nan,6,8])

In [5]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
s.dtype  #查看一维数组的元素的数据类型

dtype('float64')

In [7]:
s.index #查看一维数组的索引

RangeIndex(start=0, stop=6, step=1)

In [8]:
s.values   #查看一维数组的值

array([  1.,   3.,   5.,  nan,   6.,   8.])

# Series:通过一维数组创建

In [9]:
ser01 = pd.Series([80,88,90])
#通过数组创建Series的时候，如果没有为数据指定索引，会自动创建一个从0到N-1的整数索引；当Series对象创建好之后，可以通过index修改索引的值
ser01

0    80
1    88
2    90
dtype: int64

In [10]:
#指定/修改index索引
ser01.index = ['语文','数学','英语']
ser01

语文    80
数学    88
英语    90
dtype: int64

In [11]:
#创建Series数组
ser02 = pd.Series(data = [80,88,90],dtype=np.float64,index = ['语文','数学','英语'])
ser02

语文    80.0
数学    88.0
英语    90.0
dtype: float64

# Series：通过字典的方式创建

In [14]:
type(ser01)

pandas.core.series.Series

In [13]:
#DataFrame 是由对个列的数据表，每个列拥有一个label，当然DataFrameu也有索引
dates = pd.date_range('20171116',periods = 6)
dates

DatetimeIndex(['2017-11-16', '2017-11-17', '2017-11-18', '2017-11-19',
               '2017-11-20', '2017-11-21'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df = pd.DataFrame(np.arange(24).reshape(6,4),index = dates,columns=list('ABCD'))
df

             A   B   C   D
2017-11-16   0   1   2   3
2017-11-17   4   5   6   7
2017-11-18   8   9  10  11
2017-11-19  12  13  14  15
2017-11-20  16  17  18  19
2017-11-21  20  21  22  23