# Series的运算

In [19]:
#引入模块
import pandas as pd
import numpy as np

In [2]:
series = pd.Series({'a':981,'b':211,'c':9527})
series

a     981
b     211
c    9527
dtype: int64

In [3]:
#输出大于500的值
series[series>500]

a     981
c    9527
dtype: int64

In [6]:
#计算加
series+10

a     991
b     221
c    9537
dtype: int64

In [9]:
#计算减
series-100

a     881
b     111
c    9427
dtype: int64

In [10]:
#计算乘
series*10

a     9810
b     2110
c    95270
dtype: int64

In [11]:
#计算除
series/10

a     98.1
b     21.1
c    952.7
dtype: float64

In [13]:
#计算幂
series**2

a      962361
b       44521
c    90763729
dtype: int64

In [15]:
#两个系列相加
ser01 = pd.Series([1,2,3])
ser02 = pd.Series([4,5,6])
ser01+ser02

0    5
1    7
2    9
dtype: int64

# Series系列直接使用numpy的函数运算

In [20]:
series = pd.Series([-1,-2,3,4])
series

0   -1
1   -2
2    3
3    4
dtype: int64

In [21]:
#)计算各个元素的指数e的x次方  e 约等于 2.71828
np.exp(series)

0     0.367879
1     0.135335
2    20.085537
3    54.598150
dtype: float64

In [23]:
np.abs(series)

0    1
1    2
2    3
3    4
dtype: int64

In [24]:
#sign()计算各个元素的正负号: 1 正数，0：零，-1：负数
np.sign(series)

0   -1
1   -1
2    1
3    1
dtype: int64

# Series自动对齐

当多个series对象之间进行运算的时候，如果不同series之间具有不同的索引值，
那么运算会自动对齐不同索引值的数据，如果某个series没有某个索引值，那么最终结果会赋值为NaN。

In [25]:
serA = pd.Series([1,2,3],index = ['a','b','c'])
serB = pd.Series([4,5,6],index = ['b','c','d'])
print('---------serA+serB---------')
serA+serB

---------serA+serB---------

a    NaN
b    6.0
c    8.0
d    NaN
dtype: float64

In [26]:
print('---------serA*serB---------')
serA*serB

---------serA*serB---------

a     NaN
b     8.0
c    15.0
d     NaN
dtype: float64

In [27]:
print('---------serA/serB---------')
serA/serB

---------serA/serB---------

a    NaN
b    0.5
c    0.6
d    NaN
dtype: float64

# Series及其索引的name属性
Series对象本身以及索引都具有一个name属性，默认为空，根据需要可以进行赋值操作

In [34]:
score = pd.Series({'joe':80,'susan':90,'merry':95})
score

joe      80
merry    95
susan    90
dtype: int64

In [35]:
#给系列加上name属性
score.name = '语文'
score

joe      80
merry    95
susan    90
Name: 语文, dtype: int64

In [36]:
score.index.name = '考试成绩'
score

考试成绩
joe      80
merry    95
susan    90
Name: 语文, dtype: int64