# 唯一值

unique方法用于获取Series中的唯一值数组(去重数据后的数组)

In [1]:
#引入模块
import pandas as pd
import numpy as np

In [10]:
ser01 = pd.Series(['a','b','c','a','b','c','a'])
ser01

0    a
1    b
2    c
3    a
4    b
5    c
6    a
dtype: object

In [11]:
#去重，查看唯一值
ser01.unique()

array(['a', 'b', 'c'], dtype=object)

In [12]:
df = pd.DataFrame({
    'order_id':['1001','1002','1003','1004','1005','1006'],
    'member_id':['a01','a02','a03','a01','a02','a03'],
    'order_amt':[80,90,70,79,88,90],
})
df

  member_id  order_amt order_id
0       a01         80     1001
1       a02         90     1002
2       a03         70     1003
3       a01         79     1004
4       a02         88     1005
5       a03         90     1006

In [13]:
print('下单用户：')
df['member_id'].unique()

下单用户：

array(['a01', 'a02', 'a03'], dtype=object)

# 值计数

In [23]:
ser02 = pd.Series(['a','b','c','a','b','c','a','a','b'])
ser02

0    a
1    b
2    c
3    a
4    b
5    c
6    a
7    a
8    b
dtype: object

In [24]:
ser02.value_counts()
#默认会按值出现的频率降序排序

a    4
b    3
c    2
dtype: int64

In [26]:
ser02.value_counts(ascending = True)

c    2
b    3
a    4
dtype: int64

# 成员资格

In [30]:
#in
mask = ser02.isin(['b','c'])
mask

0     True
1    False
2    False
3     True
4    False
5    False
6     True
7     True
8    False
dtype: bool

In [31]:
ser02[mask]

0    a
3    a
6    a
7    a
dtype: object

In [32]:
#not in 
mask = ~ser02.isin(['b','c'])
mask

0     True
1    False
2    False
3     True
4    False
5    False
6     True
7     True
8    False
dtype: bool